{% extends "admin/layout.html.twig" %}

{% block content %}
    <div>
        ADMIN :: edit match
    </div>

    <br />

    <div>
        EDIT MATCH :: {{ matchId }}<br />
    </div>

    <br />

    {% if match %}
        <div>
            MATCH INFO :: <br />
            <ul>
                <li>{{  match.matchday_id }} #
                    {{ getString(match.home_team,'team_id') }} [{{ match.score_home_team }}] : [{{ match.score_away_team }}] {{ getString(match.away_team,'team_id') }} #
                    Campo: {{ match.location }} #
                    Jugado: {{ (match.played)?'si':'no' }}
                </li>
            </ul>
        </div>

        {% if form %}
            <form action="" method="post">
                {{ form_errors(form) }}
                {{ form_widget(form._token) }}

                <div>
                    {{ form_label(form.home_players) }}
                    {{ form_errors(form.home_players) }}
                    {{ form_widget(form.home_players) }}
                </div>

                <div>
                    {{ form_label(form.away_players) }}
                    {{ form_errors(form.away_players) }}
                    {{ form_widget(form.away_players) }}
                </div>

                <div>
                    {{ form_label(form.events) }}
                    {{ form_errors(form.events) }}
                    {{ form_widget(form.events) }}
                </div>

                <div>
                    {{ form_label(form.players) }}
                    {{ form_errors(form.players) }}
                    {{ form_widget(form.players) }}
                </div>

                <div>
                    {{ form_label(form.emails) }}
                    <ul>
                        {% for emailfield in form.emails %}
                            <li>
                                {{ form_errors(emailfield) }}
                                {{ form_widget(emailfield) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <br />

                <input type="submit" name="submit" value="Enviar" />
            </form>
        {% endif %}
    {% endif %}

    <a href="{{ app.url_generator.generate('partidos') }}">Volver a Partidos</a><br />

    {{ form_start(f2) }}
    {{ form_widget(f2) }}
    {{ form_end(f2) }}


{% endblock %}
