{% extends "admin/layout.html.twig" %}

{% block content %}
    <div>
        ADMIN :: edit match
    </div>

    <br />

    <div>
        EDIT MATCH :: {{ matchId }}<br />
    </div>

    <br />

    {% if match %}
        <div>
            MATCH INFO :: <br />
            <ul>
                <li>{{  match.matchday_id }} #
                    {{ getString(match.home_team,'team_id') }} [{{ match.score_home_team }}] : [{{ match.score_away_team }}] {{ getString(match.away_team,'team_id') }} #
                    Campo: {{ match.location }} #
                    Jugado: {{ (match.played)?'si':'no' }}
                </li>
            </ul>
        </div>

        {% if form %}
            <form action="" method="post">
                {{ form_errors(form) }}
                {{ form_widget(form._token) }}

                <div>
                    MATCH :: HOME EVENTS :: ...<br />
                </div>

                <div>
                    {{ form_label(form.home_events) }}
                    {{ form_errors(form.home_events) }}
                    {{ form_widget(form.home_events) }}
                </div>

                <div>
                    {{ form_label(form.home_players) }}
                    {{ form_errors(form.home_players) }}
                    {{ form_widget(form.home_players) }}
                </div>

                <div>
                    {{ form_label(form.event_count_h) }}
                    {{ form_errors(form.event_count_h) }}
                    {{ form_widget(form.event_count_h) }}
                </div>

                <div>
                    MATCH :: AWAY EVENTS :: ...<br />
                </div>

                <div>
                    {{ form_label(form.away_events) }}
                    {{ form_errors(form.away_events) }}
                    {{ form_widget(form.away_events) }}
                </div>

                <div>
                    {{ form_label(form.away_players) }}
                    {{ form_errors(form.away_players) }}
                    {{ form_widget(form.away_players) }}
                </div>

                <div>
                    {{ form_label(form.event_count_a) }}
                    {{ form_errors(form.event_count_a) }}
                    {{ form_widget(form.event_count_a) }}
                </div>

                <br />

                <input type="submit" name="submit" value="Enviar Form" />
            </form><br />
        {% endif %}
{#
        <div>
            MATCH :: HOME EVENTS :: {{ home_events|length }}<br />
            <ul>
                {% if home_squad is iterable and home_squad  %}
                    {% for player in home_squad %}
                        <li>Player {{ loop.index }}: {{ getString(player.player_id,'player_id') }}</li>
                    {% endfor %}
                {% else %}
                    <li>NO HOME PLAYERS SAVED</li>
                {% endif %}
            </ul>
        </div>

        <div>
            MATCH :: AWAY EVENTS :: {{ away_events|length }}<br />
            <ul>
                {% if away_squad is iterable and away_squad  %}
                    {% for player in away_squad %}
                        <li>Player {{ loop.index }}: {{ getString(player.player_id,'player_id') }}</li>
                    {% endfor %}
                {% else %}
                    <li>NO AWAY PLAYERS SAVED</li>
                {% endif %}
            </ul>
        </div>
#}
    {% endif %}

    <a href="{{ app.url_generator.generate('partidos') }}">Volver a Partidos</a><br />

{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $( document ).ready(function() {});
    </script>
{% endblock %}